.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.indexContainer {
  width: 100%;
}


h3 {
  width: max-content;
}

.homeownermain {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.singleWrap {
display: flex;
flex-wrap: wrap;
}


.singleParentWrap{
align-items: center;
flex-grow: 0;
flex-shrink: 0;
flex-basis: 33%;
margin-bottom: .5%;
margin-right: auto;
margin-left: .5%;
}

#wrapperId {
  text-align: center;
}

.rounded {
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
}

.agentName {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 100%; 
}