.container {
margin-left: auto;
margin-right: auto;
width: min-content;
}


.txtarea {
    border: 1px solid black;

}

.viewOffers{
    grid-template-columns: auto;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.offerBitsWrapa {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row: auto auto auto auto;
    padding-left: -15px;
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
}

.offerBitsWrap {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row: auto auto auto auto;
    padding-left: -15px;
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
}

.offerBits {
    border: solid black 1px;
    text-align: center;
    font-size: larger;
    font-weight: 500;
}
.offerBitsb {
    border: solid black 1px;
    text-align: center;
}

#blah {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pageTitle{
    color: white;
    margin: auto;
}

.col {
    width: 100%;
text-align: center;
padding-right: 0%;
padding-left: 0%;
color: black;
}

/* 
.genWrapb {
    width:100%;
    height:100%;
  background: none;
    display:grid;
    grid-template-columns: 40% 40%;
    grid-row: auto auto;
    margin-left: 10%;
    margin-right: -10%;
    align-self: center;
    align-items: center;
  } */

/*
.offerQuestion {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#amount {
    width: 200%;
    margin-left: -50%;
}
#offerName {
    width: 150%;
    margin-left: -25%;
    margin-right: 100%;
}
 */