.colName {

}


.offerWrap {
    font-size: larger;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid ;
    grid-template-columns: min-content;
    margin-left: 5px;
    text-align: center;
}
/* 
.submitOffer {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.offerQuestion {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#amount {
    width: 200%;
    margin-left: -50%;
}

#offerName {
    width: 150%;
    margin-left: -25%;
    margin-right: 100%;
}
 */
