.homeownermain {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#wrapperId {
    text-align: center;
    color: white;
    font-size: large;
}

#details {

  margin: auto;
  width:100%;
  height:5%;
background: none;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(253, 253, 253);
  border-top: 1px solid rgb(29, 48, 88);
}

.box {
  background: none;
  border-radius:10px;
  color:black;
  display: flexbox;
  align-items:center;
  justify-content:center;
  font-size: x-large;
  line-height: 80%;
  border-radius: 15px;
  padding: 5px; 
  text-align: center;
  width: 100%;
}

.container {
  width: 100%;
}

.innerPart {
  line-height: 100%;
}

.feedback{
  width: 100%;
}

.homainaddress {
  color: black
}