.homeownermain {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    text-align: center;
}

#priceCol {
margin: 0 auto;
margin-left:auto;
margin-right: auto;
justify-content: center;
}

#offersCol {
margin: 0 auto;
margin-left:auto;
margin-right: auto;
}

.feedback {
    margin-left: auto;
    margin-right: auto;
}