.container {
    display: block;
    width: auto;
    height: auto;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.sellerLogin{
margin-right: auto;
margin-left: auto;
float: right;
}