#feedbackChoices {
    margin-top: 1%;
    justify-content: right;
    text-align: right;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

#submitfeedback {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    justify-content: right;
    text-align: right;
    width: max-content;
}