#navbarId {
    background-image: linear-gradient(to right, rgb(2, 60, 185) , rgb(45, 178, 255));
    width: 100%;
    
}

#navTitle {
    color: azure;
    font-size: xx-large;
    font-family: 'Righteous', cursive;
    width: 100%;
}

#navContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

.navbar {
    width: 100%;
}

.logout {
    position: relative;
    float: right;
    background-color: none;
    background-image: none;
    background: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    line-height: 0;
}

.btn:hover {
    background: rgb(2, 60, 185);
}
