#navbarId {
    background-image: linear-gradient(to right, rgb(2, 60, 185) , rgb(45, 178, 255));
}

#navTitle {
    color: azure;
    font-size: xx-large;
    font-family: 'Righteous', cursive;
margin-top: -4%;
margin-bottom: -4%
}